adfCerner5/PartialArmTemplates/ArmTemplate_4_20_2021_14_16_42.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfCerner5"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_SQL_To_ADL2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LU_Pipeline_Workflow",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DS_BLOB_JSON",
								"type": "DatasetReference",
								"parameters": {
									"STR_BlobSecret": "SEC-CernerConfigFile",
									"STR_BlobContainer": "pipelineparams",
									"STR_BlobDirectory": "dataset1",
									"STR_BlobFileName": "pipe_sql_adl2.json"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FE_ExecuteWorkflow",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LU_Pipeline_Workflow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LU_Pipeline_Workflow').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CO_LOAD",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQL",
											"type": "DatasetReference",
											"parameters": {
												"STR_TABLESCHEMA": {
													"value": "@item().SQLSOURCE_SCHEMA_NAME",
													"type": "Expression"
												},
												"STR_TABLENAME": {
													"value": "@item().SQLSOURCE_TABLE_NAME",
													"type": "Expression"
												},
												"STR_SQLSecretName": {
													"value": "@item().SQLSECRET_NAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADL2_Parquet",
											"type": "DatasetReference",
											"parameters": {
												"STR_Container": {
													"value": "@item().ADL2TARGET_CONTAINER",
													"type": "Expression"
												},
												"STR_Directory": {
													"value": "@item().ADL2TARGET_DIRECTORY",
													"type": "Expression"
												},
												"STR_Filename": {
													"value": "@concat(item().ADL2_FILE_PREFIX,'_',utcnow('yyyyMMdd'),'_000000.parquet')",
													"type": "Expression"
												},
												"STR_Compression": {
													"value": "@item().ADL2Compression",
													"type": "Expression"
												},
												"STR_ADL2SecretName": {
													"value": "@item().ADL2SECRETNAME",
													"type": "Expression"
												},
												"STR_ADL2URL": {
													"value": "@item().ADL2URL",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADL2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"STR_SecretName": {
						"type": "string",
						"defaultValue": "SEC-CernerDataLake2"
					},
					"STR_URL": {
						"type": "string",
						"defaultValue": "https://adl2cernerlake.dfs.core.windows.net/"
					}
				},
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "@{linkedService().STR_URL}",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV_ConnectionStrings",
							"type": "LinkedServiceReference",
							"parameters": {
								"STR_KVURL": "https://kvcerneradf2.vault.azure.net/"
							}
						},
						"secretName": {
							"value": "@linkedService().STR_SecretName",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"STR_KVSecret": {
						"type": "string",
						"defaultValue": "SEC-SQLServer1-DBX"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV_ConnectionStrings",
							"type": "LinkedServiceReference",
							"parameters": {
								"STR_KVURL": "https://kvcerneradf2.vault.azure.net/"
							}
						},
						"secretName": {
							"value": "@linkedService().STR_KVSecret",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		}
	]
}